<div class="login">
    <div class="login-form">
       <div class="login-caption">
     您好，请登录！
       </div>
        <ul class="login-text">
            <li>用户名：<input type="text" class="form-control" placeholder="用户名" ng-model="data.username"></li>
            <li>密码：<input type="password" class="form-control" placeholder="密码" ng-model="data.password"></li>
            <li><input type="button" value="登录" class="btn btn-info f-center" ng-click="submits()"><a href="#!Register" class="btn btn-default f-center">注册</a></li>
        </ul>
    </div>
</div>