<style>
    .manager{
        height: {{windowHeight}}px;
        line-height: {{windowHeight}}px;
    }
    .manager ul{
        width: 100%;
        text-align: center;
    }
    .manager li{
        width: 150px;
        height: 150px;
        line-height: 150px;
        display: inline-block;
        margin: 50px;
    }
    .manager li a{
        display: block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        font-size: 30px;
        background-color: dimgrey;
        color: aliceblue;
    }
</style>
<div class="manager">
    <ul>
        <li><a href="#!MatchManager" >比赛管理</a></li>
        <li><a href="#!PlayerManager">选手管理</a></li>
        <li><a href="#!BattleManager">场次管理</a></li>
    </ul>
</div>