<div class="Userlogin-form">
    <div class="Userlogin-caption">
        你好，请登录！
    </div>
    <ul class="Userlogin-text">
        <li>用户名：<input type="text" class="form-control" placeholder="用户名" ng-model="data.username"></li>
        <li>密码：<input type="password" class="form-control" placeholder="密码" ng-model="data.password"></li>
        <li><input type="button" value="登录" class="btn btn-info Userlogin-center" ng-click="submits()"><input type="button" class="btn btn-default " value="注册" onclick="alert('你好，请到电脑端进行注册!')"></li>
    </ul>
</div>